img {
    float: left;
    padding-top: 50px;
}

.nutrition {
    padding-left: 700px;
    padding-top: 30px;
    padding-right: 80px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.menu {
    padding-right: 80px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding-left: 30px;
}

ul {
    list-style-type: circle;
}

li {
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.daily {
    background-image: url(dailymeal.jpg);
    background-size: cover;
    padding-left: 50px;
    padding-right: 100px;
}